body {
    background: #ff6f6f; 
}

.white{
    background-color: white;
    width: 450px;
    height: 400px;
    margin-top: 150px;
    margin-left: 400px;
    border-radius: 10px;
}

.second{
    background-color: rgb(43, 0, 90);
    width: 450px;
    height: 50px;
    margin-top: -470px;
    margin-left: 450px;
    margin-right: 50px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

p{
    font-size: 15px;
    color: white;
    text-align: center;
    
    
}

.F {
    width: 350px;
    height: 35px;
    padding: 5px;
    margin-top: 20px;
}

.sur{
    width: 360px;
    height: 50px;
    background-color: green;
    
}

h1{
    color: white;
    margin-left: 150px;
    margin-top: 100px;
    font-size: 50px;
}

h5{
    color: white;
    margin-left: 150px;
    margin-top: 30px;
    font-size: 15px;
    display: block;
    width: 100%;
    max-width: 400px;
    white-space: normal;
    overflow-wrap: break-word;
}

.it{
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 40px;
    border-radius: 20px;
    color: white;
    margin-top: -220px;
}


.button-container {
    display: flex;
    gap: 10px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.F1 {
    background-color: #000000;
    color: white;
    border-radius: 20px;
}

.F2 {
    background-color: #000000;
    color: #ff6f6f;
    border-radius: 20px;
}