body{
    background-color: black;
}


.div1{
    width: 400px;
    height: 500px;
    background-color: white;
    margin-top: 100px;
    margin-right: 300px;
}

h3{
    text-align: left;
    padding-top: 15px;
    padding-left: 15px;
}

h4{
    text-align: left;
    padding-left: 15px;
}

.Input1{
    height: 30px;
    width: 350px;
}

.P1{
    padding-right: 250px;
}

.Input2{
    height: 30px;
    width: 120px;
    margin-right: 200px;
    position: relative;
    z-index: 1;
}

.P2{
    margin-top: -70px;
    margin-left: 190px;
}

.Input3{
    height: 30px;
    width: 130px;
    margin-left: 200px;
}

.P3 {
    padding-top: 20px;
    padding-right: 250px;
}

.Input4{
    height: 30px; 
    width: 350px; 
    transform: translateX(-150px);
}
.Input5{
    height: 30px;
    width: 350px;
}

.Btn1{
    width: 350px;
    height: 30px;
    border-radius: 50px;
    background-color: green;
}

.Btn2{
    width: 350px;
    height: 30px;
    border-radius: 50px;
    background-color: green;
}

.Btn3{
    width: 250px;
    height: 40px;
    border-radius: 50px;
    background-color: yellow;
    margin-right: 100px;
}

.div2{
    width: 400px;
    height: 500px;
    background-color: rgb(0, 82, 141);
    margin-top: -530px;
    margin-left: 500px;
}

.Paragraph1{
    font-size: 30px;
}

.Inside{
    width: 400px;
    height: 50px;
    background-color: rgb(8, 114, 189);
    padding-top: 100px;
    margin-top: 200px;
    border-radius: 100px;
}