/* .f{
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: 2px solid red;
} */


/* .f{
    border: 2px solid black;
    padding: 20px;
} */

/* .f{
    font-size: 24px;
} */
/* 
.f{
    font-weight: bold;
} */

/* .f{
    font-family: 'Times New Roman', Times, serif;

} */

/* .f{
    letter-spacing: 2px;
} */
/* 
.f{
    word-spacing: 20px;
} */

/* .f{
    font-style: italic;
} */