/* .t1{
    background-color: red;
    width: 150px;
    height: 150px;
    margin: 16px;
}

.t2{
    background-color: rgb(0, 208, 255);
    width: 150px;
    height: 150px;
    margin: 16px;
}

.t3{
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 150px;
    margin: 16px;
} */